name: build-20251117

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
      - name: Update system packages
        run: |
          sudo -n apt-get update
          sudo -n apt-get upgrade -y git build-essential
        shell: bash

      - name: Clone and install latest libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/switchbrew/libnx.git
          cd libnx
          make install -j$(nproc)
        shell: bash

      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: master
          submodules: recursive

      - name: Extract version from Makefile
        run: |
          APP_VERSION=$(awk '/^APP_VERSION :=/ {print $3}' Makefile)
          echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV
          echo "tag_name=${APP_VERSION}" >> $GITHUB_ENV
          echo "Extracted version: ${APP_VERSION}"
        shell: bash

      - name: Build project
        run: |
          git config --global --add safe.directory $(pwd) && \
          sudo dkp-pacman -S --noconfirm switch-freetype && \
          export PKG_CONFIG_PATH=/opt/devkitpro/portlibs/switch/lib/pkgconfig && \
          git submodule update --init --recursive && \
          make -j$(nproc)
        shell: bash

      - name: Upload file
        uses: actions/upload-artifact@master
        with:
          name: ReverseNX-Tool ${{ env.APP_VERSION }}
          path: ./*.nro

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file: ./*.nro
          tag: ${{ env.tag_name }}
          release_name: ReverseNX-Tool v${{ env.APP_VERSION }}
          overwrite: true
          file_glob: true
