
name: build

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64

    steps:
        - name: Checkout
          uses: actions/checkout@master
          with:
            ref: master
            submodules: recursive
        - run: |
                git config --global --add safe.directory $(pwd)
                git submodule update --init --recursive
                make
          
                echo "tag_name=$(date +%Y%m%d)" >> $GITHUB_ENV
        
        - name: Upload file
          uses: actions/upload-artifact@master
          with:
            name: ReverseNX-RT 
            path: ./*.nro
        - name: Upload binaries to release
          uses: svenstaro/upload-release-action@master
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            file: ./*.nro
            tag: ${{ env.tag_name }}
            overwrite: true
            file_glob: true
